<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}
{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Sytle sheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS for interactive Elements -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <!-- Icons  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

  <link href="{{ url_for('static', filename='sticky-footer.css') }}" rel="stylesheet">
</head>

<body>
    <main role="main">

  <!-- jumbotron -->
  <div class="jumbotron text-center">
    <!-- Your Image here -->
    <img src="{{url_for('static',filename='UNH.png')}}" alt="">

    <!-- rounded -->
    <!-- <img src="{{url_for('static',filename='UNH.png')}}" class="rounded-circle" alt=""> -->

    <h1>Your Name</h1>
    <p>This site is all about ME!</p>
  </div>


  <!-- navbar -->

  <!-- UNH Color -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #043591;"> 
  
  <!-- Standard Bootstrap -->
  <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary"> -->

    <!-- Button for 'Hamburger' menu when on small screens -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navigation Bar Links, Update as Necessary for your pages -->

    {% set navigation_bar = [
        (url_for('home'), 'home', 'Home'),
        (url_for('courses'), 'courses', 'Courses'),
        (url_for('contact'), 'contact', 'Contact'),
        (url_for('admin'), 'admin', 'Admin')
    ] -%}
    <!-- Loop to set proper link active in Navbar -->
    {% set active_page = active_page|default('home') -%}
    <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav mr-auto">
        {% for href, id, caption in navigation_bar %}
        <a {% if id == active_page %} class="nav-link active" 
        {% elif id != active_page %} class="nav-link"
        {% endif %}href="{{ href|e }}">{{ caption|e }}</a>
        {% endfor %}
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

</main>
  <!-- Footer -->
<footer class="footer text-center">
  <!-- Copyright -->
  <div class="container">
        <span class="text-muted">&copy;Your Name 2022</span>
  </div>
</footer>

</body>

</html>