{% extends "base.html" %}
{% block title %}<title>Edit</title>{% endblock %}
{% set active_page = "courses" %}

{% block content %}

  <!-- container for tablular structure: 1 row & 1 column -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="form-group">
        <h1>Edit Record</h1>
          <form action="" method="post" name="save">
            <input class="form-control" id="name" name="fname" placeholder="First Name" type="text" required value="{{ record[1] }}">
            <input class="form-control" id="name" name="lname" placeholder="Last Name" type="text" required value="{{ record[2] }}">
            <input class="form-control" id="email" name="eaddress" placeholder="Email" type="email" required value="{{ record[3] }}">
            <input class="form-control" id="comments" name="message" placeholder="Comment" type="text" required value="{{ record[4] }}"><br>
            <button class="btn btn-info btn-lg" name="edit" type="submit" value="save">Save</button> <button
              class="btn btn-warning btn-lg" name="edit" value="cancel" type="submit">Cancel</button>

          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}